.layout {
	width: auto;
	margin: 0 16px;
}
.paper {
	margin: 24px 0;
	padding: 16px;
}
.buttons{
    display: flex;
    justify-content: flex-end;
}
@media (min-width: 632px) {
	.layout {
		width: 600px;
		margin: 0 auto;
	}
}
